[submodule "tdr-configurations"]
	path = tdr-configurations
	url = https://github.com/nationalarchives/tdr-configurations.git
[submodule "tdr-terraform-modules"]
	path = tdr-terraform-modules
	url = https://github.com/nationalarchives/tdr-terraform-modules.git
[submodule "da-terraform-configurations"]
    path = da-terraform-configurations
    url = https://github.com/nationalarchives/da-terraform-configurations.git
